a {
    text-decoration: none;
}
body {
    background-color: rgb(234,229,229);
    margin:0 auto;
    max-width: 980px;
    position: relative;
}
h4 {
    margin-bottom: 3px;
}
li {
    margin-bottom: 5px;
}
.bar_box {
    border: 1px black solid;
    width: 750px;
}
.bar_fill {
    background-color: rgba(110,110,110,.5);
    height: 30px;
    line-height: 30px;
    margin: 8px 0px 9px 0px;
}
.bio, .info, .name, .subtitle {
    text-align: center;
    width: 390px;
}
.bio {
    font: medium serif;
    line-height: 180%;
    margin-top: 75px;
}
.centered_block {
    display: block;
    margin: 0 auto;
}
.header_button:hover, .index_button:hover {
    border-color: rgb(237,28,36);
}
.header_button, .index_button {
    background-color: white;
    border-radius: 50%;
    color: black;
    display: inline-block;
    position: relative;
    text-align: center;
    transition: border-color 0.7s;
}
.header_button {
    border: 2px solid rgb(234,229,229);
    float: right;
    font: small serif;
    height: 80px;
    left: -110px;
    line-height: 80px;
    margin-left: 15px;
    top: -100px;
    width: 80px;
}
.index_button {
    border: 5px solid rgb(234,229,229);
    display: inline-block;
    font: medium serif;
    height: 110px;
    line-height: 110px;
    margin-right: 25px;
    top: -58px;
    width: 110px;
}
.info {
    color: white;
    font: medium serif;
    margin-left: 35%;
    padding-top: 14px;
    width: 100%;
}
.line {
    border-bottom: 2px rgb(110,110,110) solid;
    margin: 3px 50px;
    width: 850px;
}
.main_page {
    font: medium serif;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-top: 50px;
    width: 750px;
}
.name {
    font: xx-large serif;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 85px;
}
.portrait {
    border-radius: 50%;
    display: inline-block;
    height: 127px;
    margin-left: 132px;
    margin-right: 180px;
    margin-top: 50px;
    overflow: hidden;
    width: 127px;
}
.right_block {
    float:right;
    margin-bottom:10px;
    margin-left:10px;
    top:225px;
}
.stripe {
    background-color: rgb(237,28,36);
    height: 50px;
    margin-top: 55px;
    width: 100%;
}
.subtitle {
    font: large serif;
}
.title {
    font: xx-large serif;
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 40px;
}
