<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block tab_title %}{% endblock %}
    </title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% block javascript %}{% endblock %}
</head>

<body>

    <div>
        <p class="title">
            {% block page_title %}{% endblock %}
        </p>
        <a href="/" target="_self" class="header_button">
            HOME
        </a>
        {% block buttons %}{% endblock %}
    </div>

    <div class="line">
    </div>

    <div class="line">
    </div>

    <div class="main_page">
        {% block basic %}{% endblock %}
    </div>

</body>

</html>
