{% extends 'basic.html' %}

{% block tab_title %}
        Project Euler
{% endblock %}

{% block page_title %}
        Project Euler
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
        <a href="/hobbies" target="_self" class="header_button">
            HOBBIES
        </a>
{% endblock %}

{% block basic %}
        <a href="{{ LNK['euler'] }}" target="_blank">
            Project Euler
        </a>
        is a really cool way to do any of the following:
        <ul>
            <li>learn a programming language</li>
            <li>practice your math skills</li>
            <li>practice your programming skills</li>
        </ul>
        by solving a series of increasingly difficult puzzles.
        <p>
            You even get a badge to brag about your progress:
        </p>
        <img src="{{ LNK['euler_pic'] }}" alt="badge">
{% endblock %}
