{% extends 'basic.html' %}

{% block tab_title %}
        Amateur radio
{% endblock %}

{% block page_title %}
        Amateur radio
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
        <a href="/hobbies" target="_self" class="header_button">
            HOBBIES
        </a>
{% endblock %}

{% block basic %}
        <p>
            I'm a licensed amateur radio operator!
        </p>
        <p>
            At some point, I might update this page with more information. Callsign:
            <a href="{{ LNK['ham'] }}" target="_blank">
                KM6DDU
            </a>
        </p>
{% endblock %}
