﻿{% extends 'basic.html' %}

{% block tab_title %}
        Hobbies
{% endblock %}

{% block page_title %}
        Hobbies
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
{% endblock %}

{% block basic %}
        <p>
            I'll share some information on a few of
            my nerdier hobbyist projects (besides this website).
        </p>
        <p>
            Updates may be few and far between, depending
            on how busy I am with my "real" work...
        </p>
        <p>
            <a href="/euler" target="_self">
                Project Euler
            </a>
        </p>
        <p>
            <a href="/nand2tetris" target="_self">
                Nand2Tetris
            </a>
        </p>
        <p>
            <a href="/plasma" target="_self">
                Plasma speaker
            </a>
        </p>
        <p>
            <a href="/ham" target="_self">
                Amateur radio
            </a>
        </p>
        <p>
            <br><br><br>
            Audio: "Hobbies Galore" by Ariel Pink <br>
            <audio controls>
                <source src="/static/hobbies_galore.mp3">
            </audio>
        </p>
{% endblock %}
