﻿{% extends 'basic.html' %}

{% block tab_title %}
        Life
{% endblock %}

{% block page_title %}
        Life
{% endblock %}

{% block basic %}
        <iframe src="{{ LNK['map'] }}"
                width="640" height="480" class="centered_block">
        </iframe> <br>
        <p>
            Check out some info
            <a href="/site" target="_self">
                about this site
            </a>
        </p>
        <p>
            I made a page to calculate
            <a href="/primes" target="_self">
                prime factors
            </a>
        </p>
        <p>
            Try your hand at
            <a href="/scan" target="_self">
                port scanning
            </a>
        </p>
        <p>
            Some hobbyist
            <a href="/hobbies" target="_self">
                projects
            </a>
        </p> <br>
        <p>
            <b>About me</b>
        </p>
        <p>
            <i>Things I enjoy:</i>
            Being with loved ones,
            staying up late,
            sleeping in,
            coffee and tea,
            disassembling (and sometimes reassembling) things,
            questioning authority,
            hanging out with creative people,
            figuring out how things work,
            making pretend internet money,
            arguing,
            reading,
            daydreaming about the past and the future,
            being mischievous,
            climbing things,
            skateboarding,
            scuba diving,
            dirt biking,
            skiing,
            exploring,
            trying new foods,
            taking on challenges,
            simplifying my life
        </p>
        <p>
            <i>Sports I play (or used to play):</i>
            sumo,
            basketball,
            football,
            baseball
        </p> <br>
        <p>
            <b> {{ question }} </b>
        </p>
        <form action="{{ url_for('results') }}" method="post">
            <input required type="radio" name="choices" id="choice_1"
                   value="1" />
            <label for="choice_1"> {{ choice_1 }}
            </label> <br>
            <input required type="radio" name="choices" id="choice_2"
                   value="2" />
            <label for="choice_2"> {{ choice_2 }}
            </label> <br>
            <input required type="radio" name="choices" id="choice_3"
                   value="3" />
            <label for="choice_3"> {{ choice_3 }}
            </label> <br>
            <br>
            <input type="submit" value="Vote"/>
        </form>
{% endblock %}
