{% extends 'basic.html' %}

{% block tab_title %}
        Nand2Tetris
{% endblock %}

{% block page_title %}
        Nand2Tetris
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
        <a href="/hobbies" target="_self" class="header_button">
            HOBBIES
        </a>
{% endblock %}

{% block basic %}
        <img class="centered_block" src="/static/nand2tetris.png" alt="nand2tetris"> <br>
        <p>
            I always found it fascinating that we are able to use computers
            at such a high level, largely taking the underlying architecture
            for granted. I found an excellent <a href="{{ LNK['nand2tetris'] }}" target="_blank">
            free online course </a>
            that goes through every level of abstraction from simple NAND gates
            to a real working OS, building every piece along the way. I
            strongly recommend this course to others. The process of
            building a computer from scratch and testing it out is very
            rewarding.
        </p>
        <p>
            <i> Current progress: 5/12 chapters completed </i>
        </p> <br>
        <img class="centered_block" src="/static/course.png" alt="course">
{% endblock %}
