{% extends 'basic.html' %}

{% block tab_title %}
        Plasma speaker
{% endblock %}

{% block page_title %}
        Plasma speaker
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
        <a href="/hobbies" target="_self" class="header_button">
            HOBBIES
        </a>
{% endblock %}

{% block basic %}
        <p>
            I got a
            <a href="{{ LNK['plasma'] }}" target="_blank">
                plasma speaker
            </a>
            kit from ExcelPhysics, and had some fun soldering it
            together. It turned out pretty well! Here is a short video demo:
        </p>
        <video width="720" controls preload="auto">
            <source src="/static/plasma.mp4">
        </video> <br>
        <p>
            <b>Some details about the hardware:</b>
        </p>
        <ul>
            <li>A 555 timer IC is used to generate a high frequency carrier
                tone, to which audio modulation is added</li>
            <li>A flyback transformer creates high voltage plasma arcs and is driven
                by the carrier and audio signal</li>
            <li>Input power: 12 V, 5 A</li>
        </ul>
{% endblock %}
