{% extends 'basic.html' %}

{% block tab_title %}
        Primes
{% endblock %}

{% block javascript %}
    <script src="/static/js_primes.js"></script>

    <script src="/static/buttons.js"></script>
{% endblock %}

{% block page_title %}
        Greatest Prime Factor
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
{% endblock %}

{% block basic %}
        <p>
            <i>Calculate with my server's CPU (Python)</i>
        </p>
        <p>
            Integer to factor:
        </p>
        <form method="post">
            <input id="pyprime_input" type="text" />
            <button id="pyprime_button"> Calculate </button>
        </form>
        <div id="pyprime_result">
        </div> <br>
        <p>
            <i>Calculate with your own browser (JavaScript)</i>
        </p>
        <p>
            Integer to factor:
        </p>
        <form>
            <input id="jsprime_input" type="text" />
            <button id="jsprime_button"> Calculate </button>
        </form>
        <div id="jsprime_result">
        </div> <br>
        <p>
            <i>Calculate with Wolfram Alpha (API)</i>
        </p>
        <p>
            <i>- broken until either Wolfram or AWS improves IPv6 functionality -</i>
        </p>
        <p>
            Integer to factor:
        </p>
        <form method="post">
            <input id="waprime_input" type="text" />
            <button id="waprime_button"> Calculate </button>
        </form>
        <div id="waprime_result">
        </div>
{% endblock %}
