{% extends 'basic.html' %}

{% block tab_title %}
        Poll Results
{% endblock %}

{% block page_title %}
        Poll Results
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
{% endblock %}

{% block basic %}
        <h3>
            {{ question }}
        </h3>
        <br>
        <div class="bar_box">
            <div class="bar_fill" style="width:{{ choice_1_pct }}%;">
                &nbsp; {{ choice_1 }} ({{ choice_1_votes }} votes)
            </div>
            <div class="bar_fill" style="width:{{ choice_2_pct }}%;">
                &nbsp; {{ choice_2 }} ({{ choice_2_votes }} votes)
            </div>
            <div class="bar_fill" style="width:{{ choice_3_pct }}%;">
                &nbsp; {{ choice_3 }} ({{ choice_3_votes }} votes)
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br> <a href="/life" target="_self"> Back </a>
{% endblock %}
