﻿{% extends 'basic.html' %}

{% block tab_title %}
        Port Scanner
{% endblock %}

{% block javascript %}
    <script src="/static/buttons.js"></script>
{% endblock %}

{% block page_title %}
        Port Scanner
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
{% endblock %}

{% block basic %}
        <i>Terms of use:</i>
        <ol>
            <li>Do not use this tool to break the law</li>
            <li>Do not use this tool to violate the AWS Acceptable Use Policy</li>
        </ol> <br>
        <p>
            <i>Scan for status of commonly used ports</i>
        </p>
        <p>
            Enter a domain name or IP address (IPv6 only) to scan:
        </p>
        <form method="post">
            <input id="scan_input" type="text" />
            <button id="scan_button"> Scan </button>
        </form> <br>
        <pre id="scan_result">
        </pre>
{% endblock %}
