﻿{% extends 'basic.html' %}

{% block tab_title %}
        Site
{% endblock %}

{% block page_title %}
        About this site
{% endblock %}

{% block buttons %}
        <a href="/life" target="_self" class="header_button">
            LIFE
        </a>
{% endblock %}

{% block basic %}
        <div class="right_block">
            <img src="/static/server.png" alt="server">
        </div>
        <h4>Source Code</h4>
        <a href="https://bitbucket.org/jlponsetto/personal-webpage" target="_blank">
            Bitbucket repository
        </a>
        <h4>Motivation</h4>
        I built this site primarily for myself, as a way to learn by doing.
        But just in case anyone is curious as to how it works, or wants to try and
        hack me, I will put some information here about the details that go into
        hosting this site. All hardware and software information below is determined at page
        load via back-end checks and API calls. This site was originally hosted
        on an old laptop of mine, but has since migrated to AWS as a result of
        several factors:
        <ul>
            <li>AWS has better uptime than residential ISP services.</li>
            <li>While setting up my own hardware and network security was a fun experience, things like
                moving to new apartments made it compelling to outsource my IT.</li>
                <li>AWS <s>is</s> was free</li>
        </ul>
        <h4>Hardware</h4>
        <i>Computer:</i> <br>
        AWS {{ v_ec2 }} EC2 <br>
        <i>Storage:</i> <br>
        AWS {{ v_vol }} SSD <br>
        <i>CPU:</i> <br>
        {{ v_cpu }} <br>
        <i>RAM:</i> <br>
        {{ v_ram }} GB DDR4
        <h4>Software</h4>
        <i>Web server:</i> <br>
        Nginx {{ v_ngx }} <br>
        <i>Web server gateway interface:</i> <br>
        uWSGI {{ v_uwg }} <br>
        <i>Web application framework:</i> <br>
        Flask {{ v_fsk }} <br>
        <i>Scripting language:</i> <br>
        Python {{ v_pyt }} <br>
        <i>SQL database:</i> <br>
        SQLite {{ v_sql }} <br>
        <i>Operating system:</i> <br>
        Debian Linux {{ v_lin }}
        <h4>Other information</h4>
        <i>Registrar & CDN:</i> <br>
        Cloudflare <br>
        <i>Cryptographic protocol supported:</i> <br>
        TLS {{ v_tls }} <br>
        <i>Network protocol supported:</i> <br>
        HTTP/3 <br>
        <i>DNS origin authentication:</i> <br>
        DNSSEC
{% endblock %}
