﻿{% extends 'basic.html' %}

{% block tab_title %}
        Work
{% endblock %}

{% block page_title %}
        Work
{% endblock %}

{% block basic %}
        <h4>2017 - Present</h4>
        SpaceX <br>
        2022 - Present: Senior Space Lasers Engineer <br>
        2019 - 2022: Space Lasers Engineer <br>
        2017 - 2019: Avionics Test Engineer <br>
        <a href="{{ LNK['spacex'] }}" target="_blank">
            Website
        </a>
        <h4>2012 - 2016</h4>
        University of California, San Diego <br>
        Graduate student researcher <br>
        PI: Prof. Zhaowei Liu <br>
        <a href="{{ LNK['zhaowei'] }}" target="_blank">
            Website
        </a>
        <h4>2010 - 2012</h4>
        University of California, San Diego <br>
        Graduate student researcher <br>
        PI: Prof. Stojan Radic <br>
        <a href="{{ LNK['radic'] }}" target="_blank">
            Website
        </a>
        <h4>2008 - 2010</h4>
        Boston College <br>
        Undergraduate student researcher <br>
        PI: Prof. Willie Padilla <br>
        <a href="{{ LNK['padilla'] }}" target="_blank">
            Website
        </a>
        &nbsp; (Prof. Padilla is now at Duke University)
        <h4>Publications</h4>
        <a href="{{ LNK['scholar'] }}" target="_blank">
            Google Scholar Profile
        </a> <br>
        <a href="{{ LNK['thesis'] }}" target="_blank">
            Doctoral Thesis
        </a>
        <h4>Graduate coursework (<a href="{{ LNK['ece'] }}" target="_blank"> Catalog </a>)</h4>
        ECE200 &nbsp; Research Conference <br>
        ECE222A &nbsp; Antennas and Their System Applications <br>
        ECE222B &nbsp; Applied Electromagnetic Theory <br>
        ECE222C &nbsp; Computational Methods for Electromagnetics <br>
        ECE230A &nbsp; Solid State Electronics I <br>
        ECE230B &nbsp; Solid State Electronics II <br>
        ECE230C &nbsp; Solid State Electronics III <br>
        ECE240A &nbsp; Lasers and Optics <br>
        ECE240B &nbsp; Optical Information Processing <br>
        ECE240C &nbsp; Optical Modulation and Detection <br>
        ECE241B &nbsp; Optical Devices for Computing <br>
        ECE290 &nbsp; Graduate Research Seminar <br>
        ECE299 &nbsp; Research
        <h4>UCSD TA lecturer positions</h4>
        ECE25 &nbsp; Introduction to Digital Design <br>
        ECE45 &nbsp; Circuits and Systems <br>
        ECE101 &nbsp; Linear Systems Fundamentals <br>
        ECE109 &nbsp; Engineering Probability and Statistics <br>
        <a href="{{ LNK['cosmos'] }}" target="_blank">
            COSMOS
        </a>
        &nbsp; California State Summer School for Mathematics and Science
{% endblock %}
